.wrapper_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #39741b;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-family: "Golos Text", sans-serif;
    font-weight: 400;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.name_compani {
    color: #ffffff;
    font-family: "Tilt Neon", cursive;
    font-weight: 400;
    font-size: 40px;
}

.right_header {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header_tell {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #39741b;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
}

.link_tell {
    color: #fff;
}

.header_tell:hover {
    background: #365f21;
}

.header__button:hover {
    background: #365f21;
}

.header__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
}

.modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.modal__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 60px 15px;
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
}

.modal__close-button {
    background: #ff0000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.modal__close-button:hover {
    transition: 0.3s;
    transform: rotate(180deg);
}

.modal__title {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.modal__description {
    font-size: 1.125rem;
}
